@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff');
}
@font-face {
    font-family: PDMSSaleem;
    src: url('../fonts/_PDMS_Saleem_QuranFont.ttf');
}
@font-face {
    font-family: AlQalam;
    src: url('../fonts/AlQalamQuran.ttf');
}
@font-face {
    font-family: Noorehira;
    src: url('../fonts/noorehira.ttf');
}
@font-face {
    font-family: Uthmani;
    src: url('../fonts/UthmanTN1_Ver07.otf');
}
@font-face {
    font-family: UthmaniBold;
    src: url('../fonts/UthmanTN1B_Ver07.otf');
}
@font-face {
    font-family: Noorehidayat;
    src: url('../fonts/noorehidayat.ttf');
}
@font-face {
    font-family: Scheherazade;
    src: url('../fonts/ScheherazadeRegOT.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-moz-selection {
    background-color: var(--blue);
    color: #fff;
}
::selection {
    background-color: var(--blue);
    color: #fff;
}
:root {
    --white: #FFFFFF;
    --light-gray: #F3F3F3;
    --blue: #0ca8d8;
    --blue-alpha: #0ca8d8cc;
}
body {
    background-color: var(--light-gray);
    font-family: Roboto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
input, button {
    outline: none;
}

.surah-name, .title > h2, .detail > p.arab,
.bismillah, .revelation {
    font-family: PDMSSaleem, AlQalam, Noorehira, Noorehidayat,
        UthmaniBold, Uthmani, Scheherazade;
    font-size: 40px;
    line-height: 60px;
}
.revelation {
    font-size: 30px;
    line-height: 10px;
}
.bismillah {
    font-size: 30px;
    line-height: 40px;
    border-radius: 20px;
    background-color: var(--white);
    padding: 10px;
    padding-top: 5px;
}
.preBismillah {
    background-color: var(--blue);
    padding: 10px;
    width: 90%;
    margin : 20px auto;
    border-radius: 5px;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}
/* -- Smooth Scrolling -- */

/* Scroll to Top */
#toTop {
    background-color: var(--blue);
    color: #fff;
    bottom: 20px;
    right: 20px;
    z-index: 15;
    display: none;
    cursor: pointer;
    position: fixed;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    border-radius: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#toTop:hover {
    background-color: var(--blue);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* -- Scroll to Top -- */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 5px 0 var(--blue-alpha);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 10;
}
header h1 {
    font-size: 25px;
}
header h1 small {
    color: var(--blue);
}
header li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
header a {
    padding: 10px;
}

/* Search Bar */
.search-menu {
    display: none;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 35%;
    background-color: #fff;
}
.search-menu > span {
    position: relative;
    top: 0;
    right: 0;
    padding: 10px;
    width: 10%;
    text-align: center;
    background-color: var(--blue);
    color: #fff;
    cursor: pointer;
}
.search-menu > input {
    width: 90%;
    font-size: inherit;
    font-family: inherit;
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid var(--blue);
}
/*-- Search Bar --*/

article {
    margin: 0 auto;
    margin-top: 80px;
    width: 98%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Style for Surah List */
.card {
    float: right;
    width: 23%;
    margin: 10px;
    padding: 10px 5px;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
}
.card:hover {
    box-shadow: 0 0 10px #cecece;
}
.card h2 {
    cursor: pointer;
    margin-bottom: 20px;
}
.card .surah-name {
    color: var(--blue);
}
.card .surah-attribute {
    font-size: 15px;
}
/*-- Style for Surah List --*/

/* Back Bar */
.back-bar {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.back-bar a {
    background-color: var(--white);
    padding: 8px 15px;
    display: inline-block;
    border-bottom: 5px solid var(--blue);
    border-radius: 5px;
}
/*-- Back Bar --*/

/* Style for Surah Content */
.detail {
    /* margin: 15px 10px; */
    margin: 15px auto;
    width: 90%;
    /* padding: 10px; */
    background-color: #fff;
    border-radius: 5px;
    /* border: 1px solid var(--blue); */
}
.detail p {
    padding: 10px 20px;
    padding-top: 0;
}
.detail .meta {
    border-top-left-radius: 4px;
    position: absolute;
    padding: 0;
    background-color: var(--blue);
    color: #fff;
    font-weight: bold;
    z-index: 10px;
}
.detail .meta > span,
.detail .meta > a {
    padding: 8px 15px;
    display: inline-block;
}
.detail .meta > a:hover {
    background-color: var(--light-gray);
    color: var(--blue);
    cursor: pointer;
}
.detail audio {
    position: absolute;
    right: 6%;
    width: 50px;
    height: 40px;
}
.detail .arab {
    padding-top: 40px;
    text-align: right;
    font-size: 25px;
}
.detail .trs {
    padding: 0 20px;
    font-style: oblique;
}
.detail .idn {
    padding: 10px 20px 20px 20px;
}
/*-- Style for Surah Content --*/

.about {
    text-align: center;
    line-height: 28px;
    margin: 0 20px;
    margin-top: 90px;
}
.about p {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    clear: both;
    margin-top: 30px;
    padding: 10px 20px;
    float: left;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 -4px 0 var(--blue-alpha);
}
footer span {
    color: var(--blue);
    font-size: 20px;
}

@media screen and (max-width:1100px) {
    .search-menu {
        width: 40%;
    }
    .card {
        width: 30%;
    }
}

@media screen and (max-width:800px) {
    .card {
        width: 47.5%;
        margin: 5px;
    }
    .search-menu {
        width: 50%;
    }
    header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 5px 10px;
    }
    header h1 {
        font-size: 22px;
    }
    header li {
        font-size: 15px;
    }
    header a {
        padding: 5px 10px;
    }

    .search-menu {
        width: 100%;
        right: 0;
        top: 40px;
    }
    .search-menu > span {
        padding: 8px 10px;
    }
}

@media screen and (max-width:500px) {
    header h1 {
        font-size: 20px;
    }

    .preBismillah {
        width: 100%;
    }

    .card {
        width: 98%;
        padding: 20px 10px;
    }
    article {
        margin-top: 75px;
    }

    .detail {
        margin: 15px auto;
        width: auto;
    }
    .detail audio {
        right: 1%;
    }

    .back-bar {
        width: 100%;
        margin: 0 auto;
        margin-top: 90px;
    }
}